.header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    width: calc(100% - 256px);
    background-color: white;
    margin-left: 256px;
}

.ant-menu-item-selected {
    background:   linear-gradient(to right , #512da8, #673ab7) !important;
  }

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: linear-gradient(to right, #0a0211, #6441a5)
}

.ant-layout-sider-trigger{
    background: linear-gradient(to right, #0a0211, #6441a5)
}

.ant-layout{
    background: #f5f1fd;
}

.site-layout .site-layout-background {
    background: #fff;
  }
